
body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}


.sidebar {
    width: 220px;
    height: 100vh;
    background: #222;
    color: white;
    position: fixed;
    padding-top: 20px;
}

    .sidebar h2 {
        color: #ddd;
        text-align: center;
        margin-bottom: 20px;
    }

    .sidebar a {
        display: block;
        padding: 12px 20px;
        color: #ccc;
        text-decoration: none;
        font-size: 15px;
    }

        .sidebar a.active, .sidebar a:hover {
            background: #333;
            color: white;
        }

/* Content */
.content {
    margin-left: 240px;
    padding: 20px;
}

/* Breadcrumb */
.breadcrumb {
    background: #f0f0f0;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
}

/* Button */
.btn {
    display: inline-block;
    padding: 8px 15px;
    background: #1f73ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

    .btn:hover {
        background: #0f5ada;
    }

/* Table design */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
}

    .table th {
        background: #e8f5d1;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .table td {
        padding: 10px;
        border: 1px solid #ddd;
    }

/* Search and dropdown */
.top-options {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .top-options select, .top-options input {
        padding: 5px;
        border: 1px solid #888;
        border-radius: 4px;
    }

.search-box {
    float: right;
}
.avatar {
    border-radius: 50%;
    object-fit: cover;
    Width:60px;
    Height:60px;
}
